.calendarContainer {
    padding: 20px;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .events {
    list-style: none;
  }
  
  .eventDetail {
    margin-top: 20px;
  }
  