.container {
margin: 20px;
}

.header {
font-size: 28px;
margin-bottom: 20px;
color: #333;
}

.table {
background-color: #fff;
border-radius: 10px;
padding: 20px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
margin-bottom: 40px;
}
.tableHeader {
font-size: 22px;
color: #333;
}

.chartContainer {
background-color: #fff;
border-radius: 10px;
padding: 20px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.chartHeader {
font-size: 24px;
margin-bottom: 20px;
color: #333;
}

.antd-table-filter-dropdown {
border-radius: 8px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}