.container {
    margin: 30px;
  }
  .manageButtons {
    margin-bottom: 20px;
  }
  .productCard {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .group {
    margin-bottom: 20px;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  