.modalContent {
padding: 20px;
}

.category {
margin-bottom: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
background-color: #fff;
padding: 10px 20px;
}

.categoryTitle {
font-size: 18px;
border-bottom: 2px solid #eee;
margin-bottom: 10px;
padding-bottom: 5px;
}

.buttonGroup {
display: flex;
flex-wrap: wrap;
gap: 10px;
}
