.container {
    text-align: center;
  }
  
  .title {
    margin-bottom: 1rem;
  }
  
  .info {
    display: block;
    font-size: 1em;
    margin-bottom: 1rem;
  }
  
  .nextSteps {
    display: block;
    font-size: 1em;
    margin-bottom: 2rem;
  }
  
  .signInButton {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: #001F3F;
    height: 40px;
  }
  
  .signInButton:hover {
    background-color: #DAA520 !important;
  }
  
  .signInButton a:hover { 
    text-decoration: underline;
  }
  
  .successIcon {
    font-size: 48px;
    color: green;
    margin-bottom: 1rem;
  }
  