.container {
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.text {
  margin-bottom: 2rem;
}

.subText {
  margin-bottom: 1rem;
  font-size: 0.9em;
  color: grey;
}

.button {
  color: white;
  border: 2px solid white;
  background-color: #001F3F;
  margin-bottom: 24px;
  height: 40px;
}

.button:hover {
  background-color: #DAA520 !important;
}

.icon {
  font-size: 2em;
  margin-bottom: 1em;
  color: #DAA520;
}
