.container {
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .searchBar {
    margin-bottom: 10px;
  }
  
  .typeSelect {
    margin-left: 10px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  